env/
.ipynb_checkpoints/
Conjuntos y diccionarios - Clase 01.12.ipynb
Controles de Flujo - clase 29.11.ipynb
Modulos/
clase 06.12.ipynb
clase 6, trabajo .ipynb
clases/
entregable clase 6 - paije.ipynb
prueba.py
